<div class="bytes-container">
  <div class="container">
    <div class="bytes">
      <app-bytes-container class="bytes-section" [bytes]="bytes" [startOffsetDec]="startOffsetDec"></app-bytes-container>
      @if (pe.isManaged) {
        <app-bytes-container class="bytes-section" [bytes]="cliMetadataHeaderBytes" [startOffsetDec]="cliMetadataHeaderStartOffsetDec"></app-bytes-container>
      }
      @if (pe.isManaged && !pe.is64Bit) {
        <app-bytes-container class="bytes-section" [bytes]="importTableEntryPointBytes" [startOffsetDec]="importTableEntryPointStartOffsetDec"></app-bytes-container>
      }
    </div>
    <div class="bytes-legend">
      <app-legend-headers [pe]="pe"></app-legend-headers>
    </div>
  </div>
</div>
<app-va-convertor [pe]="pe"></app-va-convertor>
