<div class="bytes-container">
  <nav>
    <a [routerLink]="['/see', Tab.Headers]" routerLinkActive="active">Headers</a>
    <a *ngIf="pe.isManaged" [routerLink]="['/see', Tab.Text]" routerLinkActive="active">.text</a>
  </nav>
  <div class="container">
    <app-bytes-container class="bytes" [bytes]="bytes" [startOffsetDec]="startOffsetDec"></app-bytes-container>
    <div class="bytes-legend">
      <app-legend-headers *ngIf="selectedTab === Tab.Headers" [pe]="pe"></app-legend-headers>
      <app-legend-text *ngIf="selectedTab === Tab.Text" [pe]="pe"></app-legend-text>
    </div>
  </div>
</div>
