@import '~variables.scss';

.bytes-container {
  display: flex;
  flex-direction: column;
}

nav {
  a {
    padding: 6px 12px;

    &.active {
      font-weight: bolder;
    }
  }

  :first-child {
    padding-left: 0;
  }

  :last-child {
    padding-right: 0;
  }

  padding-bottom: 1em;
}

.container {
  display: flex;
}

.bytes {
  font-family: $mono-font-family;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 36%;
  min-width: 630px;
  align-content: flex-start;
}

.bytes-legend {
  display: flex;
  flex-direction: column;
  font-size: $mono-font-size-small + 1;
  line-height: 1.2em;
}

@import '~bytes.scss';
