@use '../../variables.scss';
@use '../../legend.scss';
@use '../../bytes.scss';

input {
  color: variables.$font-color;
  background: variables.$background-color;
  border: 1px solid variables.$font-color;
}
