.bytes-container {
  display: flex;
}

.mono-font {
  font-family: 'Consolas';
}

.bytes {
  font-family: 'Consolas';
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 36%;
}

.bytes span {
  flex: 1 0 5.5%;
}

.bytes span.offset {
  flex: 1 0 12%;
}

.unit {
  font-weight: bolder;
}

.bytes-legend {
  display: flex;
  flex-direction: column;
}

.part {
  border: 2px solid #B5FCFF;
  padding: 5px;
  margin: 5px;
}



.dos-header {
  color: #538135;
}

.signature-offset {
  background-color: #FFFF00;
}

.dos-stub {
  color: #FFB06B;
}

.signature {
  color: #2E75B5;
}

.coff-header {
  color: #C55A11;
}

.standard-fields {
  color: #00B0F0;
}

.magic-number {
  background-color: #CCFFCC;
}

.address-entry-point {
  background-color: #00FFFF;
}

.nt-specific-fields-headers {
  color: #359357;
}

.data-directories {
  color: #634491;
}

.import-table-directory-size {
  background-color: #E83DFF;
}

.import-table-directory-rva {
  background-color: rgb(210, 61, 255);
}

.import-address-table-directory-size {
  background-color: #5BFF7F;
}

.import-address-table-directory-rva {
  background-color: rgb(157, 255, 91);
}

.cli-header-directory-size {
  background-color: rgb(255, 172, 94);
}

.cli-header-directory-rva {
  background-color: #FFCC5E;
}

.text-section-header {
  color: #FF7700;
}

.text-base-rva {
  background-color: #E83DFF;
}

.text-file-offset {
  background-color: #359357;
}

.rsrc-section-header {
  color: #FF291E;
}

.rsrc-base-rva {
  background-color: #0004FF;
}

.rsrc-file-offset {
  background-color: #C47B4E;
}

.reloc-section-header {
  color: #0004FF;
}

.reloc-base-rva {
  background-color: #FF291E;
}

.reloc-file-offset {
  background-color: #538135;
}

.cli-header {
  color: #A977FF;
}
