@import '~variables.scss';

$mono-font-family: 'Consolas';

.container {
  min-height: 100%;
  position: relative;
}

.mono-font {
  font-family: $mono-font-family;
  font-size: $mono-font-size-normal;
  background-color: #eee;
  border-radius: 5px;
  padding: 0 5px;
  color: #7a7a7a;
}

.upload-container {
  padding-bottom: 1em;

  input[type='file'] {
    display: none;
  }

  .custom-file-upload {
    color: $action-color;
    border: 1px solid $action-border-color;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    &.disabled {
      color: $action-disabled-color;
      border: 1px solid $action-disabled-border-color;
      cursor: default;
    }
  }

  .error {
    display: block;
    color: #ff291e;
    font-size: $font-size-small;
    font-style: italic;
  }
}

.bytes-container {
  display: flex;
  padding-bottom: 9em;

  span {
    &.dos-header {
      color: #538135;
    }

    &.signature-offset {
      background-color: #ffff00;
    }

    &.dos-stub {
      color: #cc7d38;
    }

    &.signature {
      color: #2e75b5;
    }

    &.coff-header {
      color: #922700;
    }

    &.standard-fields {
      color: #00b0f0;
    }

    &.magic-number {
      background-color: #ccffcc;
    }

    &.address-entry-point {
      background-color: #9df3f4;
    }

    &.nt-specific-fields {
      color: #359357;
    }

    &.image-base {
      background-color: #000;
    }

    &.data-directories {
      color: #634491;
    }

    &.import-table-directory-size {
      background-color: #ff57ff;
    }

    &.import-table-directory-rva {
      background-color: #d23dff;
    }

    &.import-address-table-directory-size {
      background-color: #42e666;
    }

    &.import-address-table-directory-rva {
      background-color: #9dff5b;
    }

    &.cli-header-directory-size {
      background-color: #ffac5e;
    }

    &.cli-header-directory-rva {
      background-color: #ffe678;
    }

    &.text-section-header {
      color: #29b000;
    }

    &.text-base-rva {
      background-color: #ffdb29;
    }

    &.text-file-offset {
      background-color: #fffe27;
    }

    &.rsrc-section-header {
      color: #ff291e;
    }

    &.rsrc-base-rva {
      background-color: #0004ff;
    }

    &.rsrc-file-offset {
      background-color: #4dc1ff;
    }

    &.reloc-section-header {
      color: #0004ff;
    }

    &.reloc-base-rva {
      background-color: #f31d12;
    }

    &.reloc-file-offset {
      background-color: #ff6e3d;
    }

    &.cli-header {
      color: #b684ff;
    }
  }

  .bytes {
    font-family: $mono-font-family;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 36%;
    min-width: 630px;
    align-content: flex-start;

    span {
      flex: 1 0 5.5%;
      font-size: $mono-font-size-normal;
      line-height: 1.5em;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.offset {
        flex: 1 0 12%;
        justify-content: flex-start;
      }

      &.unit {
        font-weight: bolder;
      }
    }
  }

  .bytes-legend {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: $font-size-big;
      margin-top: 0;
    }

    .part {
      border: 2px solid #b5fcff;
      padding: 5px;
      margin: 5px;

      :last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.disclaimer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4em;
  font-size: $font-size-small;
  text-align: center;
  padding: 4em 0;

  .mono-font {
    font-size: $mono-font-size-small;
  }

  p {
    line-height: 1em;
    padding: 0 18%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
