@import '../variables.scss';

.container {
  min-height: 100%;
  position: relative;
}

.router-container {
  padding-top: 1em;
  padding-bottom: 9em;

  @include lg {
    padding-bottom: 15em;
  }
}

.disclaimer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4em;

  @include lg {
    height: 12em;
  }

  font-size: $font-size-small;
  text-align: center;
  padding: 4em 0;
}
