span {
  &.dos-header {
    color: #538135;
  }

  &.signature-offset {
    background-color: #ffff00;
  }

  &.dos-stub {
    color: #cc7d38;
  }

  &.signature {
    color: #2e75b5;
  }

  &.coff-header {
    color: #922700;
  }

  &.characteristics {
    background-color: #55C433;
  }

  &.standard-fields {
    color: #00b0f0;
  }

  &.magic-number {
    background-color: #ccffcc;
  }

  &.address-entry-point {
    background-color: #9df3f4;
  }

  &.nt-specific-fields {
    color: #359357;
  }

  &.image-base {
    background-color: #000;
  }

  &.subsystem {
    background-color: #283587;
  }

  &.dll-characteristics {
    background-color: #872864;
  }

  &.data-directories {
    color: #634491;
  }

  &.import-table-directory-size {
    background-color: #ff57ff;
  }

  &.import-table-directory-rva {
    background-color: #d23dff;
  }

  &.import-address-table-directory-size {
    background-color: #42e666;
  }

  &.import-address-table-directory-rva {
    background-color: #9dff5b;
  }

  &.cli-header-directory-size {
    background-color: #ffac5e;
  }

  &.cli-header-directory-rva {
    background-color: #ffe678;
  }

  &.text-section-header {
    color: #29b000;
  }

  &.text-base-rva {
    background-color: #ffdb29;
  }

  &.text-file-offset {
    background-color: #fffe27;
  }

  &.rsrc-section-header {
    color: #ff291e;
  }

  &.rsrc-base-rva {
    background-color: #0004ff;
  }

  &.rsrc-file-offset {
    background-color: #4dc1ff;
  }

  &.reloc-section-header {
    color: #0004ff;
  }

  &.reloc-base-rva {
    background-color: #f31d12;
  }

  &.reloc-file-offset {
    background-color: #ff6e3d;
  }

  &.import-address-table {
    color: #0004ff;
  }

  &.cli-header {
    color: #b684ff;
  }

  &.cli-metadata-header-directory-size {
    background-color: #354294;
  }

  &.cli-metadata-header-directory-rva {
    background-color: #5b68ba;
  }

  &.cli-flags {
    background-color: #ff9fab;
  }

  &.cli-metadata-header {
    color: #fff;
    background-color: #000;
  }

  &.clr-version-size {
    background-color: #f31d12;
  }

  &.clr-version {
    background-color: #0004ff;
  }

  &.import-table {
    color: #f31d12;
  }
}
