@use './variables.scss';

h2 {
  font-size: variables.$font-size-big - 1;
  margin-top: 0;
}

.mono-font {
  font-size: variables.$mono-font-size-small + 1;
}

.part {
  :last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
