@import '~variables.scss';

html,
body {
  margin: 0;
  padding: 0 10px;
  height: 100%;
}

body {
  font-family: 'Verdana', sans-serif;
  line-height: 1.3em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $action-color;
  text-decoration-color: $action-color;

  &:hover {
    text-decoration: underline;
  }
}

em {
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style-type: none;
}

h1 {
  margin: 0;
  padding: 0.5em 0;
  line-height: 1.5em;
}
