$action-color: #0b92c4;
$action-border-color: darken($action-color, 10%);

$action-disabled-color: #7a7a7a;
$action-disabled-border-color: darken($action-disabled-color, 10%);

$font-size-big: 20px;
$font-size-normal: 16px;
$font-size-small: 12px;

$mono-font-size-normal: 17px;
$mono-font-size-small: 13px;

$screen-lg-min: 992px;

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
      @content;
  }
}
